<h1><%= @forum.name %></h1>

<% if @forum.forums.length > 0 %>
<div class="category category--subforums">
  <h3><%= 'Subforum'.pluralize @forum.forums.length %></h3>
  <% for forum in @forum.forums %>
    <div class="category__forum">
      <%= link_to forum.name, forum_path(forum), class: 'forum__name' %>
      <div class="category__forumDesc">
        <div class="category__forumStats">
          <% if forum.num_topics > 0 %>
            <%= number_with_delimiter forum.num_posts %> <%= 'post'.pluralize forum.num_posts %> in <%= number_with_delimiter forum.num_topics %> <%= 'topic'.pluralize forum.num_topics %><% if !forum.last_post_id.nil? %>, last post by <%= link_to forum.last_post.author.username, profile_path(forum.last_post.author) %> <%= short_time forum.last_post.post_date %><% end %>
          <% else %>
            No topics
          <% end %>
        </div>
        <%= forum.description %>
      </div>
    </div>
  <% end %>
</div>
<% end %>

<% if !@forum.category.nil? %>
  <h3>Topics</h3>

  <% if @forum.num_topics == 0 %>
    <div class="forum__topic forum__topic--noTopics">This forum does not have any topics.</div>
  <% end %>

  <% for topic in @forum.topics %>
    <div class="forum__topic">
      <%= link_to topic.name, topic_path(topic), class: 'topic__name' %>
      <div class="forum__topicDesc">
        <div class="forum__topicStats">
          Last post by <%= link_to topic.last_post.author.username, profile_path(topic.last_post.author) %> <%= short_time topic.last_post.post_date %>
        </div>
        Started by <%= link_to topic.author.username, profile_path(topic.author) %> <%= short_time topic.post_date %>
      </div>
    </div>
  <% end %>
<% end %>