<% title @forum.name %>

<% if @forum.forums.length > 0 %>
  <div class="category category--subforums">
    <h3><%= 'Subforum'.pluralize @forum.forums.length %></h3>
    <%= render_subforums @forum.forums %>
  </div>
<% end %>

<% if user_signed_in? %>
  <div class="forum__buttonRow">
    <ul>
      <li><%= link_to 'Create new topic', create_topic_path(@forum.id) %></li>
    </ul>
  </div>
<% end %>

<% if !@forum.category.nil? %>
  <h3>Topics</h3>

  <% if @topics.length == 0 %>
    <div class="forum__topic forum__topic--noTopics">This forum does not have any topics.</div>
  <% end %>

  <% for topic in @topics %>
    <div class="forum__topic">
      <div class="forum__topicInfo">
        <div class="forum__topicName">
          <%= link_to topic.name, topic_path(topic) %>
        </div>
        Started by <%= link_to topic.author.username, profile_path(topic.author) %> <%= short_time topic.post_date %>
      </div>
      <div class="forum__topicStats">
        <% if not topic.last_post.nil? %>
          Last post by <%= link_to topic.last_post.author.username, profile_path(topic.last_post.author) %> <%= short_time topic.last_post.post_date %>
        <% else %>
          No replies have been posted.
        <% end %>
      </div>
    </div>
  <% end %>
<% end %>