<h1><%= @topic.name %></h1>

<% for post in @topic.posts %>
  <a name='post_<%= post.id %>'></a>
  <div class="post">
    <div class="post__author">
      <%= image_tag post.author.gravatar_url, class: 'author__avatar' %>
      <div class="author__info">
        <%= link_to post.author.username, profile_path(post.author) %>
        <div class="info__postCount">
          <%= number_with_delimiter post.author.num_posts %> <%= 'post'.pluralize post.author.num_posts %>
        </div>
      </div>
    </div>
    <div class="post__content">
      <div class="post__content__postDate">Posted on <%= post.post_date.strftime t 'time_format' %></div>
      <%= post.content %>
    </div>
    <div class="clearBoth"></div>
  </div>
<% end %>
