<% title @topic.name %>

<% if user_signed_in? %>
  <div class="topic__buttonRow">
    <ul>
      <li><%= link_to 'Post a reply', post_reply_path(@topic) %></li>
    </ul>
  </div>
<% end %>

<% for post in @topic.replies %>
  <a name='post_<%= post.id %>'></a>

  <div class="topic__reply">
    <div class="topic__replyAuthor">
      <%= image_tag post.author.gravatar_url, class: 'topic__replyAuthorPicture' %>
      <div class="topic__replyAuthorInfo">
        <%= link_to post.author.username, profile_path(post.author) %>
        <div class="topic__replyAuthorReplyCount">
          <%= number_with_delimiter post.author.num_posts %> <%= 'post'.pluralize post.author.num_posts %>
        </div>
      </div>
    </div>

    <div class="topic__replyContent">
      <div class="topic__replyPostDate">
        <% if post.is_first? %>Started<% else %>Posted<% end %> <%= short_time post.post_date %>
      </div>

      <div class="topic__replyText">
        <%= simple_format post.content.bbcode_to_html %>
      </div>

      <% if user_signed_in? %>
        <div class="topic__replyOptions">
          <ul>
            <% if current_user.is_moderator? or post.author == current_user %>
              <% if post.is_first? %>
                <% edit_path = edit_topic_path(@topic) %>
              <% end %>

              <li><%= link_to('Edit', edit_path || post_edit_path(post)) %></li>
            <% end %>

            <% if not post.is_first? %>
              <li><%= link_to('Reply', forums_path) %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
