<h1><%= @topic.name %></h1>
Started by <%= link_to @topic.author.username, profile_path(@topic.author) %> on <%= @topic.post_date.strftime t 'time_format' %>

<% for post in @topic.posts %>
  <a name='post_<%= post.id %>'></a>
  <div class="post">
    <div class="post__author">
      <%= image_tag post.author.gravatar_url, class: 'author__avatar' %>
      <%= link_to post.author.username, profile_path(post.author) %>
    </div>
    <div class="post__content">
      <div class="post__content__postDate">Posted on <%= post.post_date.strftime t 'time_format' %></div>
      <%= post.content %>
    </div>
    <div class="clearBoth"></div>
  </div>
<% end %>
