<% title 'Forgot Your Password?' %>

<div class="formWrap">
<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

  <div class="formWrap__field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="formWrap__actions">
    <%= f.submit "Send Reset Instructions" %>
  </div>
<% end %>
</div>

<div class="formOptions">
  <%= render "users/shared/links" %>
</div>
