<!DOCTYPE html>
<html>
  <head>
    <title>Solar Car Racing</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <header>
      <%= render 'users/menu/user_bar_items' %>
    </header>
    <%= yield %>
  </body>
</html>
